
html
{
  border:220px solid;
  color: #4f5d75;
}

body
{
  margin-bottom:100px;
  background: #d8f3dc;
  font-family: 'lato', sans-serif, monospace;
  font-size: 16px;
}
h2
{
  margin-left: 5px;
  margin-right: 5px;
  border-bottom:2px solid black;
  color:#5e6472;
  padding: 20px 0 0;
}
h3
{
  margin-left: 20px;
  color:#00008B;
  font-style: italic;
}
img
{
  border: 3px solid;
  border-image: url(border.png) 30 stretch;
  margin-left: 40px;
}
p
{
  margin-left: 40px;
  margin-right: 40px;
}
a
{
  margin-left: 40px;
}
li
{
  margin-left: 50px;
}
